
.todoItem{
    padding: 0rem 0.5rem;
      list-style: none;
    padding: 0rem 0.5rem;
  }
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  li{
    display: flex;
    width: 100%;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    color: rgb(195, 111, 125);

     
  }